[Unit]
Description=Systemd Status Email Failure Notification Multiplexer for %i

[Service]
Type=oneshot
# Executes the shell script, passing only the failing service name as an argument
ExecStart=/usr/local/bin/systemd-email.sh %i
User=root
